<%-include("partials/header")-%>


<div class="p-5 mb-4 bg-light rounded-3 success">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Subscribed to the whatsapp-Bot</h1>
        <ul>
            <li><h5>Open whatsapp on you phone</h5></li>
            <li><h5>if you already have whatsapp on desktop <a href="whatsapp://send?phone=+14155238886&text=join dug-sick"><h2> click here</h2></a></h5></li>
            <li><h5>Add this number :</h5> <h2>+14155238886 </h2> <h5>to the contacts</h5></li>
            <li><h5>Type </h5><h2>"join dug-sick"</h2> <h5>and send it</h5></li>
            <li><h5>you will recieve confirmation text</h5></li>
        </ul>
        <h1 class="display-5 fw-bold"> you can enjoy the service</h1>
        <a class="btn btn-primary btn-lg" type="button" href="/" >Home</a>
      </div>
      <p class="mt-5 mb-3 text-muted">© 2021 by Dr.Bruhh</p>
    </div>

<%-include("partials/footer")-%>
